 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Famous U.S. Highways</h1>
      <div class="row center">
        <h5 class="header col s12 light">Choose a highway below to learn more about the roads that made America.</h5>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn" href="#!/route1"><i class="material-icons left">drive_eta</i>Highway 1</a>
        <a class="waves-effect waves-light btn" href="#!/route2"><i class="material-icons right">drive_eta</i>Highway 2</a>
      </div>

    </div>
  </div>